<%=erb :'/partials/header'%>
<body>
<div class='container'>
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>

  <h2>All Recipes</h2>
  <ul>
    <%Recipe.all.each do |recipe|%>
      <li><a href='/recipes/<%=recipe.slug%>'><%=recipe.name%></a></li>
    <%end%>
  </ul>
</div>

<%=erb :'partials/footer'%>
