<%=erb :'/partials/header'%>
<body>

<div class='container'>
  <h2>Name: <%=@user.name%></h2>
  <p>Username: <%=@user.username%></p>
  <p>Email address: <%=@user.email%></p>
</div>

<%=erb :'partials/footer'%>