<%=erb :'/partials/header'%>
<body>

<h2>All Groceries:</h2>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<%Grocery.all.each do |grocery|%>
  <ul>
    <li><a href='/groceries/<%=grocery.slug%>'><%=grocery.name%></a></li>
  </ul>
<%end%>

<%=erb :'partials/footer'%>